<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hack The Mountains Task</title>
    <link href="styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <%
    for (const course in userData){
    %>
        <div class="<%=course%>-data">
            <h2 class="center"><%=course%></h2>
            <table border="1" class="center">
                <tr>
                    <th>S. No.</th>
                    <th>User</th>
                    <th>Progress %</th>
                </tr>
                
                <%
                var i=1;
                userData[course].forEach((data) => {
                %>
                <tr>
                    <td><%=i; %></td>
                    <td><%=data.user %></td>
                    <td><%=data.progress %></td>
                </tr>
                <%  i++; }) %>
            </table>
        </div>
    <% }  %>
</body>
</html>